#cssmenu { padding: 0; margin: 0; border: 0; line-height: 1; }
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul { list-style: none; margin: 0; padding: 0; }
#cssmenu ul { position: relative; z-index: 597; }
#cssmenu ul li { line-height: 1em; vertical-align: middle; position: relative; }
#cssmenu ul li.hover,
#cssmenu ul li:hover { position: relative; z-index: 599; cursor: default; }
#cssmenu ul ul { visibility: hidden; position: absolute; top: 100%; left: 0px; z-index: 598; }
#cssmenu ul ul li { float: none }
#cssmenu ul ul ul { top: 0px; left: 300px; }
#cssmenu ul li:hover > ul { visibility: visible }
#cssmenu ul li { display: inline-block; }
#cssmenu li { position: relative }

#cssmenu ul ul { margin-top: 0 }
#cssmenu ul ul li { font-weight: normal }
/* Custom CSS Styles */
#cssmenu {background: transparent;zoom: 1; }
#cssmenu:before { content: ''; display: block; }
#cssmenu:after { content: ''; display: table; clear: both; }
#cssmenu a { display: block;text-decoration: none; text-transform: capitalize; }
#cssmenu > ul { border-bottom: 0; text-align: left;line-height: 1.4; }

#cssmenu > ul > li { min-height:0; }
#cssmenu > ul > li > a { color: #fff;text-align: left;font-size: 13pt;font-weight: 600;text-transform: capitalize;line-height: 1.1;position: relative;padding: 7px 15px; }
#cssmenu > ul > li > a:hover, #cssmenu > ul > li > a:focus { outline: 0;-webkit-transition: .3s color ease font-weight .4s ease-in-out;-webkit-transition: .4s all ease-in-out;transition: .4s all ease-in-out; }
#cssmenu > ul > li:hover > a { color: rgb(255, 215, 3);font-weight: 600; }
#cssmenu > ul > li:focus { outline: 0; }
#cssmenu > ul > li.active a { color: rgb(255, 215, 3);font-weight: 600; }

#cssmenu ul li.has-sub > a:after { content: '\f0d7';font-family: 'Font Awesome 5 Free'; position: absolute;right: 5px;bottom: 10px; font-size: 8pt; font-weight: 900;color: #fff; }

#cssmenu ul ul li.first { border-radius: 0 3px 0 0; }
#cssmenu ul ul li.last { border-radius: 0 0 3px 0; border-bottom: 0; }
#cssmenu > ul > li > ul { background-color: #fff;padding: 0 }
#cssmenu > ul > li > ul > li > a { font-size: 13pt; line-height: 1.2;text-transform: capitalize; }
#cssmenu ul ul a:hover { color: #000 }
#cssmenu ul ul li { min-height: 1px;padding: 0; }
#cssmenu ul ul li:last-child { border-bottom: 0; }
#cssmenu > ul > li > ul > li > a { padding: 10px 15px;width: 250px;text-align: left;font-weight: 400 !important;background: #fff; }

#cssmenu > ul > li:hover > ul > li > a { color: #000; }
#cssmenu ul ul li a:hover, #cssmenu ul ul li a:focus { border-top:0 !important; }
#cssmenu > ul > li:hover > ul > li:hover > a { color: #fff;background: #fed12e; }
#cssmenu > ul > li:hover > ul > li.active > a { color: #fff;background: #fed12e; }

/*#cssmenu > ul > li > ul > li > a:before { content: url('../img/menu-arrow.png');vertical-align: text-top;padding-right: 4%; }*/
/*#cssmenu > ul > li > ul > li > a:hover:before { content: url('../img/menu-arrow-hover.png'); }*/

/*
#cssmenu ul li:hover > ul > li { height: 35px; } 
#cssmenu ul ul li { height: 0; -webkit-transition: height .2s ease; transition: height .2s ease; }
*/

/*
#cssmenu ul ul { position: absolute; left: -9999px; top: 70px; opacity: 0; -webkit-transition: opacity .3s ease, top .25s ease; transition: opacity .3s ease, top .25s ease; z-index: 1000; }
#cssmenu > ul > li:hover > ul { left: auto; top: 44px; opacity: 1; }
*/

#cssmenu > ul > li:hover > ul { left: auto; top: 75px; opacity: 1; } 
#cssmenu > ul > li > ul { top: 100px;padding-top: 0;padding-bottom: 8px; } 
#cssmenu ul ul { position: absolute; left: -9999px; opacity: 0; -webkit-transition: top .2s ease, opacity .2s ease; transition: top .2s ease, opacity .2s ease; }

#cssmenu.align-right > ul > li > a { border-left: 4px solid #ffd602; border-right: none; }
#cssmenu.align-right { float: right }
#cssmenu.align-right li { text-align: right }
#cssmenu.align-right ul li.has-sub > a:before { content: '+'; position: absolute; top: 50%; left: 15px; margin-top: -6px; }
#cssmenu.align-right ul li.has-sub > a:after { content: none }
#cssmenu.align-right ul ul { visibility: hidden; position: absolute; top: 0; left: -100%; z-index: 598; width: 100%; }
#cssmenu.align-right ul ul li.first { border-radius: 3px 0 0 0; }
#cssmenu.align-right ul ul li.last { border-radius: 0 0 0 3px; }
#cssmenu.align-right ul ul { border-radius: 3px 0 0 3px; }


