@charset "UTF-8";
.nav-mobile { display: none; } 
ul.nav-mobile-list { display: none; } 
.nav-dropdown { position: absolute; display: none; z-index: 1; -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);padding: 0; }
@media only screen and (max-width: 800px) {
	body { position: relative!important;margin-top: 50px !important; }
    .nav-mobile {display: block !important;position: fixed; top: 0px; left: 0px; width: 100%;cursor: pointer;z-index: 999999999;overflow: hidden; } 
    .drmmenu-nav { width: 100%; padding: 50px 0 0; } 
    ul.nav-mobile-list li { float: none; } 
    ul.nav-mobile-list li a { padding: 13px 15px;line-height: 1.4; } 
    ul.nav-mobile-list li ul li { padding-left: 22px; } 
    .nav-dropdown { position: static; } 
    .brand { line-height: 50px; text-transform: capitalize; font-size: 20pt; width: 100%; text-align: center; }
	.brand a, .brand a:visited { text-decoration: none; position: absolute; left: 0; width: 50%; }
	.brand a:hover, .brand a:focus { text-decoration: none;outline: 0; }
	.nav-container {max-width: 1000px; margin: 0 auto; }
	.drmmenu-nav {float: right; }
	ul.nav-mobile-list { list-style: none; margin: 0; padding: 0;top: 50px; bottom: 0; position: fixed; overflow-y: auto; overflow-x: none; width: 100%;height: 100% } 
	ul.nav-mobile-list li { border-bottom: 1px solid #131212;border-top: 1px solid #0D0D0D; }
	ul.nav-mobile-list li:last-child { border-bottom: 0; }

	ul.nav-mobile-list li a, ul.nav-mobile-list li a:visited {display: block;text-decoration: none;font-size: 15px; } 

	ul.nav-mobile-list li.nav-drop span.drm-drop-icon {padding: 0 15px; line-height: 47px; float: left; background: #000; font-size: 20pt; color: #fff; margin-right: 10px; }
	ul.nav-mobile-list li span.drm-drop-icon:not(:only-child):after, ul.nav-mobile-list li span.drm-drop-icon:visited:not(:only-child):after { content: '▾'; }

	ul.nav-mobile-list li ul li {min-width: 190px; } 
	ul.nav-mobile-list li ul li a { padding: 13px 15px;line-height: 1.4; } 
	.nav-block { display: block; }

	/* Mobile navigation */
	.nav-toggle { position: absolute; top: 0; right: 0; height: 50px; width: 70px; }
	.navtext { position: absolute; top: 9px; right: 51px; font-size: 20pt; }

	#nav-toggle { position: absolute; left: 27px; top: 13px; cursor: pointer; padding: 10px 35px 16px 0px; } 
	#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {cursor: pointer; border-radius: 1px; height: 2px; width: 25px;position: absolute; display: block; content: ''; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; } 
	#nav-toggle span:before {top: -8px; } 
	#nav-toggle span:after {bottom: -8px; } 
	#nav-toggle.active span {background-color: transparent; } 
	#nav-toggle.active span:before, #nav-toggle.active span:after {top: 0; } 
	#nav-toggle.active span:before {-webkit-transform: rotate(45deg);transform: rotate(45deg); } 
	#nav-toggle.active span:after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg); }
}
@media screen and (min-width: 800px) {
  .nav-mobile-list { display: block !important; } 
}



.mobile-wrap{ display: none; }

@media only screen and (max-width: 800px) {
	.mobile-wrap{ display: block !important; }
}

/* ICON AT TOP */
.header-wrap{background-color: #22313F; color: #fff;height: 50px;position: fixed; top: 0px; left: 0px; width: 100%;cursor: pointer;z-index: 999999999;overflow: hidden; }
.header-wrap .brand { line-height: 50px; text-transform: capitalize; font-size: 20pt; width: 70%; text-align: center; height: 50px; display: flex; align-items: center; }
.header-wrap .brand a, .brand a:visited { text-decoration: none; position: absolute; left: 10px; }
.header-wrap .brand a:hover, .brand a:focus { text-decoration: none;outline: 0; }

/* CIRCLE ICON AT BOTTOM */
.nav-circle-bottom{background-color: #22313F; width: 50px; height: 50px; text-align: center; border-radius: 100%; padding: 0; position: absolute; bottom: 10px; right: 10px; }
.nav-circle-bottom .hamburger{margin: 7px auto; display: inline-block; }

/* NAV AT BOTTOM */
.nav-bottom{background-color: #22313F; width: 100%; position: absolute; bottom: 0; left: 0; text-align: center; }

/* HAMBURGER */
.hamburger{ padding: 5px 0; }
.hamburger .navtext { position: absolute; top: 23px; right: 40px; font-size: 20pt; }
.hamburger .line-head { position: absolute; right: 0; top: 11px; }
.hamburger .line{width: 25px; height: 2px; display: block; margin: 5px; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.hamburger:hover{cursor: pointer; }
#hamburger-1.is-active .line:nth-child(2){opacity: 0; }
#hamburger-1.is-active .line:nth-child(1){-webkit-transform: translateY(7px) rotate(45deg); transform: translateY(7px) rotate(45deg); }
#hamburger-1.is-active .line:nth-child(3){-webkit-transform: translateY(-7px) rotate(-45deg); transform: translateY(-7px) rotate(-45deg); }

/* NAVIGATION */
.mobile-wrap .navigation { overflow-y: auto;overflow-x: none;position: fixed; top: 50px; left: 0px; width: 100%;cursor: pointer;z-index: 9999999999999999999;padding-bottom: 52px; }
.mobile-wrap .navigation ul{ list-style-type: none; margin: 0; padding: 0;position: absolute; }
.mobile-wrap .navigation.nav-is-active ul { position: relative;overflow-y: auto; }
.mobile-wrap .navigation.nav-is-active ul ul.nav-dropdown { height: auto;position: static;overflow: inherit; }
.mobile-wrap .navigation li { border-bottom: 1px solid #131212;border-top: 1px solid #0D0D0D; }
.mobile-wrap .navigation li :hover, .mobile-wrap .navigation li a:focus { text-decoration: none;outline: 0; }
.mobile-wrap .navigation li.nav-drop span.drm-drop-icon {padding: 0 15px; line-height: 47px; float: left; background: #000; font-size: 20pt; color: #fff; margin-right: 10px; }
.mobile-wrap .navigation li span.drm-drop-icon:not(:only-child):after, ul.nav-mobile-list li span.drm-drop-icon:visited:not(:only-child):after { content: '▾'; }
.mobile-wrap .navigation li a { display: block; text-align: left; padding: 13px 15px;line-height: 1.4;font-size: 15px; }
.mobile-wrap .navigation ul.nav-dropdown li { padding-left: 22px; }

/*========= MOBILE 2 =========*/
#mobile-2 .navigation{width: 100%; height: 100%;opacity: 0; -webkit-transition: all 0.3s ease-in-out 0.1s; transition: all 0.3s ease-in-out 0.1s; } 
#mobile-2 .navigation.nav-is-active{opacity: 1; }

/*========= MOBILE 3 =========*/

#mobile-3 .navigation{width: 100%; height: 100%;-webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#mobile-3 .navigation.nav-is-active{-webkit-transform: translateX(0); transform: translateX(0); }

/*========= MOBILE 4 =========*/

#mobile-4 .navigation{width: 100%; height: 100%; -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#mobile-4 .navigation.nav-is-active{-webkit-transform: translateX(0); transform: translateX(0); }
